body {
  font-family: Arial;
  background-color: #0e0f11;
  display: flex;
  justify-content: flex-end;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-right: 60vh;
  margin-top: 20rem;
}

.login-form label {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  /* center */
  text-align: center;
}

.login-form input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #6d63f7;
  border-radius: 5px;
  background-color: #0e0f11;
  color: #fff;
  width: 20vh;
}

.login-form button {
  background-color: #6d63f7;
  color: rgb(243, 235, 235);
  border: none;
  border-radius: 10vh;
  width: 10rem;
  justify-content: right;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
  /* margin-left: 3vh; */
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
}

.login-form button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0 0.5rem #6d63f74f;
}

.text-box {
  position: absolute;
  left: 0;
  margin-left: 50vh;
  margin-top: 30vh;
}

.text-box h1 {
  color: #6d63f7;
  font-size: 3rem;
  transition: 0.5s;
}

.text-box p {
  color: #fff;
  font-size: 1.5rem;
}

.text-box a {
  color: #6d63f7;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.5s;
}
