body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0e0f11;
}

.admin-panel {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: #6d63f7;
  color: #fff;
  padding: 20px;
}

.sidebar h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: white;
}

header h2 {
  color: white;
  font-size: 1.5rem;
}

p {
  width: 100%;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 10px;
}

.user-info a {
  color: white;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1vh;
  transition: 0.5s;
}

.deleteButton {
  border: none;
  border-radius: 1vh;
  width: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.deleteButton:hover {
  transition: 0.5s;
  transform: scale(1.02);
  box-shadow: 0 0 0 0.2rem #6d63f74f;
}

.editButton {
  border: none;
  border-radius: 1vh;
  width: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.editButton:hover {
  transition: 0.5s;
  transform: scale(1.02);
  box-shadow: 0 0 0 0.2rem #6d63f74f;
}

.createButton {
  border: none;
  border-radius: 1vh;
  width: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.createButton:hover {
  transition: 0.5s;
  transform: scale(1.02);
  box-shadow: 0 0 0 0.2rem #6d63f74f;
}

.showButton {
  border: none;
  border-radius: 1vh;
  width: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.showButton:hover {
  transition: 0.5s;
  transform: scale(1.02);
  box-shadow: 0 0 0 0.2rem #6d63f74f;
}

.submitButton {
  border: none;
  border-radius: 1vh;
  width: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.btn {
  border: none;
  border-radius: 1vh;
  width: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  transition: 0.5s;
  transform: scale(1.02);
  box-shadow: 0 0 0 0.2rem #6d63f74f;
}

.project-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  transition: 0.5s;
}

.buttons {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 2.5vw;
}

.content-deleted {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1vh;
  transition: 0.5s;
  opacity: 0.5;
}
.project-container-deleted {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  transition: 0.5s;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* mobile */

@media (max-width: 768px) {
  .admin-panel {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .main-content {
    width: 100%;
  }

  .content {
    flex-direction: column;
    max-width: 80%;
  }

  .content-deleted {
    flex-direction: column;
    max-width: 80%;
  }

  .buttons {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 2.5vw;
  }

  .createButton {
    justify-content: flex-end;
    margin-right: 10vw;
    padding: 2.5px;
  }
}
